@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
.perspective {
  perspective: 1000px;
}

#root{ 
  --color-blue-dark:#004AAD;
  
}

* {
  box-sizing: border-box;
}

body{
  display: flex;
  background: linear-gradient(to bottom, #eff6ff, #ffffff);
}

#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  text-align: center;
  --color-primary: #004AAD;
  --font-fonteprimary:"Nunito Sans", sans-serif;
}

